@use 'variables';
@use 'global';

header {
   @extend .container;
   background-color: variables.$colorPrincipal;
   display: flex;
   flex-direction: column;
   a {
      background-image: url("../img/GastroPeru.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      margin-top: 20px;
      text-decoration: none;
      width: auto;
   }
   nav {
      ul {
         display: flex;
         flex-direction: row;
         justify-content:center;
         gap: 15px;
         list-style-type: none;
         padding-bottom: 1rem;
         li {
            a {
            background-image: none;
            color: variables.$colorSecundario;
            font-size: 0.75rem;
            padding-right: 25px;
            position: relative;
            text-decoration: none;
            }
            a:hover {
               color: variables.$colorEnlace;
            }
         }
         li:not(:last-child) 
            a::after {
               background-color: variables.$colorEnlace;
               border-radius: 50%;
               content: "";
               display: inline-block;
               height: 6px;
               position: absolute;
               right: 0px;
               transform: translateY(-50%);
               top: 50%;
               width: 6px;
         }
      }
   }
}
