@use 'variables';

html {
   font-size: 16px;

   @media screen and (min-width: variables.$tablet) and (max-width: 1024px) {
      font-size: 18px;
   }
   @media screen and (min-width: variables.$escritorio) {
      font-size: 20px;
   }
}

* {
   color: variables.$colorPrincipal;
   font-family: "Inter";
   font-weight: 400;
   line-height: 1.5rem;
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

%container {
   box-sizing: border-box;
   margin-inline: auto;
   max-width: variables.$tablet;
   padding: 0;
   width: 100%;
}

.container {
   @extend %container;
}

@media screen and (min-width: variables.$tablet) and (max-width: 1024px) {
   .container {
      min-width: 460px;
      max-width: 1023px;
   }
}

/* Estilo para dispositivos de escritorio */
@media screen and (min-width: variables.$escritorio) {
   .container {
      width: 100vw;
      max-width: 100%;
   }
}