@use 'variables';
@use 'global';

header {
   background-color: variables.$colorPrincipal;
   display: flex;
   flex-direction: column;
   a {
      margin-top: 20px;
      text-decoration: none;
      align-content: center;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; 
   }
   nav {
      ul {
         display: flex;
         flex-direction: row;
         justify-content:center;
         gap: 15px;
         list-style-type: none;
         padding-bottom: 1rem;
         li {
            a {
            background-image: none;
            color: variables.$colorSecundario;
            font-size: 0.75rem;
            padding-right: 25px;
            position: relative;
            text-decoration: none;
            }
            a:hover {
               color: variables.$colorEnlace;
            }
            .active {
               color: variables.$colorEnlace;
            }
         }
         li:not(:last-child) 
            a::after {
               background-color: variables.$colorEnlace;
               border-radius: 50%;
               content: "";
               display: inline-block;
               height: 6px;
               position: absolute;
               right: 0px;
               transform: translateY(-50%);
               top: 50%;
               width: 6px;
         }
      }
   }
}

@media screen and (min-width: 460px) and (max-width: 1024px) {
   header {
      padding-left: 50px;
      padding-right: 50px;
      nav {
         ul {
            li {
               a {
                  font-size: 1rem;
               }
            }
         }
      }
   }
}

@media screen and (min-width: 1025px) {
   header {
      padding-left: 300px;
      padding-right: 300px;
      nav {
         ul {
            li {
               a {
                  font-size: 1rem;
               }
            }
         }
      }
   }
}