@use 'variables';
@use 'global';
@use 'header';
@use 'footer';

main {
   @extend .container;
   max-width: 100%;
   background-color: variables.$colorBody;
   padding-top: 20px;
   padding-bottom: 20px;
   h1 {
      color: variables.$colorSecundario;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: "Playfair Display";
      text-align: center;
      margin-top: 10px;
   }
   p {
      color: variables.$colorSecundario;
      padding-top: 10px;
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
      font-family: "Playfair Display";
      font-size: 1rem;
      text-align: justify;
   }
   section {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
      font-family: "Inter";
      h2 {
         font-family: "Playfair Display";
         font-size: 1.5rem;
         font-weight: 700;
         text-align: center;
         color: variables.$colorSecundario;
         margin-top: 10px;
         margin-bottom: 10px;
      }
      div {
         width: 100%;
         display: flex;
         flex-direction: row;
         align-content: flex-start;
         align-items: first baseline;
         font-family: "Inter";
         figure {
            background-color: variables.$colorBody;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-items: center;
            gap: 5px;
            img {
               border: 1px solid variables.$colorSecundario;
               border-radius: 50%;
               object-fit: cover;
            }
            figcaption {
               color: variables.$colorSecundario;
               font-family: "Inter";
               font-size: 1rem;
               line-height: 1rem;
               text-align: center;
               a {
                  color: inherit;
                  font-family: inherit;
                  font-size: inherit;
                  text-decoration: none;
               }
               a:hover {
                  background-color: variables.$colorEnlace;
               }
            }
         }
         p {
            width: 100%;
            text-align: start;
            color: variables.$colorSecundario;
            font-size: 0.75rem;
            font-family: "Inter";
         }
      }
   }
}

.receta {
   @extend .container;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   h1 {
   text-align: center;
   }
   #fechaActual {
      text-align: end;
      font-size: 0.75rem;
   }
   .splide {
      max-width: 100%;
      margin: 0 auto;
      .splide__slide {
         img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            display: block;
         }
      }
   }
   section {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h2 {
         text-align: center;
         font-size: 1rem;
         font-family: "Playfair Display";
      }
      ul {
         list-style-type: none;
         padding: 0;
         padding-left: 20px;
         padding-right: 20px;
         li {
            color: variables.$colorSecundario;
            font-family: "Inter";
            font-size: 0.75rem;
            text-align: start;
         }
      }
      ol {
         padding: 0;
         padding-left: 20px;
         padding-right: 20px;
         li {
            color: variables.$colorSecundario;
            font-family: "Inter";
            font-size: 0.75rem;
            text-align: start;
         }
      }
      p {
         color: variables.$colorSecundario;
         font-family: "Inter";
         font-size: 0.75rem;
         text-align: start;
         padding: 0;
         padding-left: 20px;
      }
   }
   .imagenPrincipal {
      background-color: variables.$colorBody;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin: 0 auto;
      img {
         border: 1px solid variables.$colorSecundario;
         border-radius: 50%;
         width: 150px; 
         height: 150px;
         object-fit: cover;
      }
      figcaption {
         color: variables.$colorSecundario;
         text-align: center;
         font-size: 0.5rem;
         a {
            text-decoration: none;
            color: inherit;
            font-size: inherit;
         }
      }
   }
   iframe {
      width: 100%;
      aspect-ratio: 16 / 9;
      height: auto;
      align-self: center;
      padding-left: 20px;
      padding-right: 20px;
   }
}

.links {
   @extend .container;
   display: flex;
   flex-direction: column;
   gap: 20px;
   h1 {
      text-align: center;
      color: variables.$colorSecundario;
      font-family: "Playfair Display";
      font-size: 1rem;
      font-weight: 600;
      margin-top: 20px;
   }
   section {
      display: flex;
      flex-direction: column;
      h2 {
         text-align: center;
         color: variables.$colorSecundario;
         font-family: "Playfair Display";
         font-size: 1rem;
      }
      p {
         color: variables.$colorSecundario;
         font-family: "Inter";
         font-size: 0.75rem;
         text-align: justify;
         padding-left: 20px;
         padding-right: 20px;
         a {
            color: variables.$colorSecundario;
            text-decoration: none;
            font-size: inherit;
            font-family: inherit;
         }
      }
      ul {
         list-style-type: circle;
         padding: 0;
         padding-left: 40px;
         padding-right: 20px;
         li {
            color: variables.$colorSecundario;
            font-family: "Inter";
            font-size: 0.75rem;
            text-align: justify;
            a {
               color: variables.$colorSecundario;
               text-decoration: none;
               font-size: inherit;
               font-family: inherit;
            }
         }
      }
      ul:last-child {
         padding-bottom: 20px;
      }
   }
}

@media screen and (min-width: 460px) and (max-width: 1024px) {
   main {
      padding-left: 50px;
      padding-right: 50px;
      h1 {
         font-size: 1.5rem;
         margin-top: 20px;
      }
      .splide__slide {
         img {
            height: 400px;
         }
      }
      p {
         margin-top: 20px;
         text-align: center;
      }
      section {
         div {
            align-items: first baseline;
            figure {
               flex-direction: column;
               justify-content: center;
               align-items: center;
               img {
                  width: 200px;
                  height: 200px;
               }
            }
         }
      }
      section:last-of-type {
         margin-bottom: 20px;
      }
      iframe {
         margin-bottom: 50px;
      }
   }
   .receta {
      padding-left: 50px;
      padding-right: 50px;
      .imagenPrincipal {
         img {
            width: 250px; 
            height: 250px;
         }
      }
   }
   .links {
      padding-left: 50px;
      padding-right: 50px;
      section {
         ul {
            padding-left: 50px;
         }
      }
      section:last-of-type {
         margin-bottom: 50px;
      }
   }
}

@media screen and (min-width: 1025px) {
   main {
      padding-left: 300px;
      padding-right: 300px;
      h1 {
         margin-top: 50px;
         font-size: 2rem;
      }
      .splide__slide {
         img {
            height: 500px;
         }
      }
      p {
         margin-top: 50px;
         text-align: center;
         font-size: 1.5rem;
      }
      section {
         div {
            align-items: first baseline;
            figure {
               flex-direction: column;
               justify-content: center;
               align-items: center;
               img {
                  width: 200px;
                  height: 200px;
               }
            }
         }
      }
      section:last-of-type {
         margin-bottom: 20px;
      }
   }
   .receta {
      padding-left: 300px;
      padding-right: 300px;
      .imagenPrincipal {
         img {
            width: 450px; 
            height: 450px;
         }
      }
      iframe {
         margin-left: 100px;
         margin-right: 100px;
         margin-bottom: 100px;
         height: 600px;
         width: 840px;
      }
   }
   .links {
      padding-left: 300px;
      padding-right: 300px;
      section {
         ul {
            padding-left: 100px;
         }
      }
      section:last-of-type {
         margin-bottom: 100px;
      }
   }
}